.recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 10px;

        @media (min-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__header {
        text-align: center;
    }

    &__stat {
        line-height: 2;
    }

    &__picture-box {
        height: 200px;
        margin-bottom: 16px;

        @media (min-width: 500px) {
            height: 400px;
        }
    }

    &__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 16px;

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media (min-width: 500px) {
                min-height: 100%;
            }
        }

        &-title {
            text-decoration: underline;
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &--no-recipe {
        min-height: 100px;
        justify-content: space-around;
    }
}